name: parsevasp

on: [push, pull_request]

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    timeout-minutes: 30
    strategy:
      matrix:
        python: ["3.9"]
    steps:
      - uses: actions/checkout@v2
      - name: Cache python dependencies
        id: cache-pip
        uses: actions/cache@v1
        with:
          path: ~/.cache/pip
          key: pip-${{ matrix.python }}-tests-${{ hashFiles('**/setup.json') }}
          restore-keys: pip-${{ matrix.python }}-tests-
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}
      - name: Make sure virtualevn>20 is installed, which will yield newer pip and posibility to pin pip version.
        run: pip install virtualenv>20
      - name: Install Tox
        run: pip install tox
      - name: Run pre-commit in Tox
        run: tox -e pre-commit
  tests:
    needs: [pre-commit]
    runs-on: ubuntu-latest
    timeout-minutes: 30
    strategy:
      matrix:
        python: ['3.7', '3.8', '3.9', '3.10']
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}
      - name: Make sure virtualevn>20 is installed, which will yield newer pip and posibility to pin pip version.
        run: pip install virtualenv>20
      - name: Install Tox
        run: pip install tox
      - name: Install codecov
        if: matrix.python == '3.9'
        run: pip install codecov pytest-cov
      - name: Remove dot in Python version for passing version to tox
        uses: frabert/replace-string-action@master
        id: tox
        with:
          pattern: '\.'
          string: ${{ matrix.python }}
          replace-with: ''
      - name: Run tox and codecov
        if: matrix.python == '3.9'
        run:
          tox -e py${{ steps.tox.outputs.replaced }}-parsevasp --
          --cov=./parsevasp --cov-append --cov-report=xml
      - name: Run tox
        run: tox -e py${{ steps.tox.outputs.replaced }}-parsevasp
      - name: Run coverage from coverage-python by running pytest yet again
        if: ${{ matrix.python }} == '3.9'
        run: pytest --cov-report=xml --cov-append --cov=parsevasp
      - name: Upload coverage to Codecov
        if: matrix.python == '3.9'
        uses: codecov/codecov-action@v2
        with:
          name: parsevasp
          fail_ci_if_error: true
